## Practice Session

In [1]:
import pandas as pd

In [2]:
data = [2, 3, 6, 7, 8]
df = pd.DataFrame(data)
df

   0
0  2
1  3
2  6
3  7
4  8

In [3]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [7]:
df1 = pd.DataFrame([[1,2],[3,4]], columns = ['a','b'])
df2 = pd.DataFrame([[8,9],[4,7]], columns = ['a','b'])
df3 = df1.append(df2)
df3

C:\Users\Sanjoy\AppData\Local\Temp\ipykernel_13804\3859276755.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df1.append(df2)

   a  b
0  1  2
1  3  4
0  8  9
1  4  7

In [8]:
df3.drop(0)

   a  b
1  3  4
1  4  7